* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  background: #fafafa;
}

.preview-image {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 640px) {
  body {
    display: flex;
    justify-content: center;
  }

  .preview-image {
    max-width: 560px;
  }
}
